@import 'colorSwatches.scss';
@import 'abstracts/fonts.scss';
@import 'abstracts/measurements.scss';
@import 'abstracts/mixins.scss';

$guideSpace: 80px;
$guideEdges: 30px;
$guideDivide: 2px solid #ddd;

// Guide layout
// -----------------------------------

.guide_index_list {
  list-style-type: none;
  padding: 1rem 4rem 1rem 5rem;
  border-left: 3px solid #5c2d70;
  margin-top: 4rem;
  margin-bottom: 4rem;
  li {
    font-size: 16px;
    margin-bottom: 8px;
    &:last-child {
      margin-bottom: 4px;
    }
  }
}

.guidesection {
  margin-top: $guideSpace;
  padding-left: $guideEdges;
  padding-right: $guideEdges;
  padding-bottom: $guideEdges;
}

.guide_h1 {
  font-size: 22px;
  line-height: 29px;
  margin-bottom: 22px;
  padding-bottom: 0.5em;
  color: #333;
  border-bottom: $guideDivide;
}

.guide_h2 {
  font-size: 18px;
  line-height: 36px;
  margin-top: 24px;
  margin-bottom: 18px;
  padding-bottom: 0.5em;
  color: #333;
  border-bottom: $guideDivide;
}

.guide_h3 {
  font-size: 16px;
  line-height: 24px;
  margin-top: 16px;
  margin-bottom: 18px;
  color: #333;
}

.guide_swatches {
  list-style-type: none;
  margin-bottom: 10rem;
  display: grid;
  grid-row-gap: 40px;
  grid-column-gap: 10px;
  @media screen and (min-width:700px) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

.guide_swatch {
  display: block;
  font-size: 13px;
  line-height: 13px;
  color: #333;
  &:after {
    @extend .guide_swatch_meta;
  }
  &_block {
    height: 80px;
    width: 100%;
    min-height: 80px;
    display: block;
    margin-bottom: 7px;
    box-shadow: 0 0 3px rgba(#000, 0.2);
    @media screen and (min-width:690px) {
      height: 0;
      width: 100%;
      padding-bottom: 50%;
    }
  }
  &_meta {
    display: block;
    margin-top: 7px;
  }
}


// Examples
// Uses a 6 column grid
// --------------------------------------------------------
.gridexample1 {
  @include gridCalc(); // Default grid
  div {
    height: 60px;
    background-color: #999;
  }
  .g1 {
    @include gridCol(1, 2); // Position 1, span 2
  }
  .g2 {
    @include gridCol(3, 4); // Position 3, span 4
  }
  .g3 {
    @include gridCol(1, 2); // Position 1, span 2
  }
  .g4 {
    @include gridCol(3, 2); // Position 3, span 2
  }
  .g5 {
    @include gridCol(5, 2); // Position 5, span 2
  }
}

.gridexample2 {
  @include gridCalc($gridCols, 40px, 20px); // Default grid with different gaps
  margin-top: 20px;
  div {
    height: 60px;
    background-color: #999;
  }
  .g1 {
    @include gridCol(1, 2); // Position 1, span 2
  }
  .g2 {
    @include gridCol(3, 4); // Position 3, span 4
  }
  .g3 {
    @include gridCol(1, 2); // Position 1, span 2
  }
  .g4 {
    @include gridCol(3, 2); // Position 3, span 2
  }
  .g5 {
    @include gridCol(5, 2); // Position 5, span 2
  }
}

.gridexample3 {
  @include gridCalc(4); // Smaller grid
  margin-top: 20px;
  div {
    height: 60px;
    background-color: #777;
  }
  .g1 {
    @include gridCol(1, 2); // Position 1, span 2
  }
  .g2 {
    @include gridCol(3, 4); // Position 3, span 4
    @include gridRow(2); // Row 2, span 2
  }
}

.gridexample4 {
  margin-top: 20px;
  // Include grid with default gaps and repeat in blocks of 3
  @include gridRepeat(3);
  div {
    height: 60px;
    background-color: #888;
  }
}
