@import 'abstracts/color.scss';
@import 'abstracts/fonts.scss';
@import 'abstracts/measurements.scss';
@import 'abstracts/mixins.scss';
@import 'abstracts/functions.scss';

$guideSpace: 35px;
$guideEdges: 40px;
$guideMenuWidth: 200px;
$guideScrollbarWidth: 6px;
$guideDivide: 6px solid rgba(0,0,0,0.1);
$guideMenuBkg: #343434;
$guideMenuText: #eee;
$guideMenuLink: #5BF6DB;
$guideMenuLinkAction: #fff;

// Guide layout
// -----------------------------------

.guide_body {
  min-height: 100vh;
}

.guide_toggle {
  padding: 0.5em 1em;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 5;
  background-color: darken($guideMenuBkg, 5%);
  font-size: 12px;
  width: $guideMenuWidth;
  color: $guideMenuLinkAction;
  @include link-active-styles {
    color: $guideMenuLink;
  }
  &.active {
    width: 60px;
    span {
      display: none;
    }
  }
}

.guide_menu {
  padding: 1em;
  width: $guideMenuWidth;
  position: absolute;
  top: 0;
  left: 0;
  background-color: $guideMenuBkg;
  height: 100%;
  > div {
    position: fixed;
    left: 0;
    top: 0;
    padding-top: $guideSpace;
    padding-left: 1em;
    padding-bottom: 4em;
    height: 100%;
    background-color: $guideMenuBkg;
    width: $guideMenuWidth;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: $guideScrollbarWidth;
    }
    &::-webkit-scrollbar-track {
      background-color: darken($guideMenuBkg, 5%);
      width: $guideScrollbarWidth;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $guideMenuLink;
      width: $guideScrollbarWidth;
    }
    scrollbar-width: thin;
    scrollbar-color: $guideMenuLink $guideMenuBkg;
  }
  &_heading {
    font-size: 14px;
    font-weight: bold;
    color: $guideMenuText;
  }
  h1.guide_menu_heading {
    margin-bottom: 20px;
  }
  &_list {
    margin-bottom: 20px;
    list-style-type: none;
    li {
      font-size: 14px;
      display: block;
      color: $guideMenuText;
    }
  }
  &.hide {
    display: none;
  }
  a {
    color: $guideMenuLink;
    @include link-active-styles {
      color: $guideMenuLinkAction;
    }
  }
}

.guide_content {
  position: relative;
  margin-left: $guideMenuWidth;
  width: calc(100% - $guideMenuWidth);
  min-height: 100vh;
  &.full {
    margin-left: 0;
    width: 100%;
    border-left: 0;
  }
}

.guide_index_list {
  list-style-type: none;
  padding: 1rem 0;
  margin-top: 20px;
  margin-bottom: 20px;
  li {
    font-size: 16px;
    margin-bottom: 8px;
    &:last-child {
      margin-bottom: 4px;
    }
  }
}

.guide_h1 {
  font-size: 22px;
  line-height: 29px;
  margin-bottom: 22px;
  padding-bottom: 0.5em;
  color: #333;
  border-bottom: $guideDivide;
  font-weight: bold;
  .guidesection.full & {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
  .guidesection__meter & {
    border: 0;
    margin-bottom: 0.5em;
  }
}

.guide_h2 {
  font-size: 18px;
  line-height: 36px;
  margin-top: 24px;
  margin-bottom: 18px;
  padding-bottom: 0.5em;
  color: #333;
  font-weight: bold;
  border-bottom: $guideDivide;
  .guidesection.full & {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
  .guidesection__meter & {
    border: 0;
    margin-bottom: 0.5em;
  }
}

.guide_h3 {
  font-size: 16px;
  line-height: 24px;
  margin-top: 16px;
  margin-bottom: 18px;
  color: #333;
  .guidesection.full & {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
  .guidesection__meter & {
    border: 0;
    margin-bottom: 0.5em;
  }
}

// Section styles
// --------------------------------------------------------

.guidesection {
  padding-top: $guideSpace;
  padding-bottom: $guideSpace;
  padding-left: $guideEdges;
  padding-right: $guideEdges;
  &.full {
    padding-left: 0;
    padding-right: 0;
  }
}

// For text runs and guides
// that read better with a set meter
.guidesection__meter {
  max-width: 700px;
  padding-left: 1em;
}

// For instructions
.guidesection__instructions {
  @extend .guidesection__meter;
  p,ul,ol {
    margin-bottom: 1em;
  }
}

// Swatches
// --------------------------------------------------------

.guide_swatches {
  list-style-type: none;
  display: grid;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.guide_swatch {
  display: block;
  font-size: 16px;
  line-height: 16px;
  color: #333;
  height: 300px;
  width: 100%;
  position: relative;
  box-shadow: 0 3px 12px rgba(#000,0.05);
  &_meta {
    display: block;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1em;
    width: 100%;
    font-weight: bold;
    &:after {
      display: block;
      margin-top: 10px;
      font-weight: normal;
    }
  }
}

@each $color in map-keys($colors) {
  .guide_swatch#{$color} {
    background-color: map-get($colors, $color);
  }
  .guide_swatch_meta#{$color}:after{
    content: "#{map-get($colors, $color)}";
  }
}

// Shadows
// --------------------------------------------------------

.guideshadows {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.guide_shadow {
  padding: 6em;
  text-align: center;
  border-radius: 5px;
  &Sharp {
    box-shadow: box-shadow-sharp(8);
  }
  &Diffuse {
    box-shadow: box-shadow-diffuse(8);
  }
}