@import 'abstracts/color.scss';
@import 'abstracts/fonts.scss';

$guideSpace: 80px;
$guideStroke: 2px;
$guideDivide: $guideStroke solid #ddd;

.guide_index {
  padding: 8rem 10%;
  &_list {
    list-style-type: none;
    padding: 1rem 4rem 1rem 5rem;
    border-left: 3px solid #5c2d70;
    margin-top: 4rem;
    margin-bottom: 10rem;
    li {
      font-size: 16px;
      margin-bottom: 8px;
      &:last-child {
        margin-bottom: 4px;
      }
    }
  }
}

.guidesection {
  border-top: $guideDivide;
  margin-top: $guideSpace;
  padding-top: $guideSpace - $guideStroke;
  &:first-of-type {
    border-top: 0;
    margin-top: 0;
    padding-top: 0;
  }
}

.guide_h1 {
  font-size: 22px;
  line-height: 29px;
  margin-bottom: 22px;
  color: #333;
}

.guide_swatches {
  list-style-type: none;
  margin-bottom: 10rem;
  display: grid;
  grid-row-gap: 40px;
  grid-column-gap: 10px;
  @media screen and (min-width:700px) {
    display: grid;
    grid-template-columns: repeat(4, minmax(25%, 1fr));
  }
}

@each $name, $color in
		('Byers', $dmAction),
		('Henderson', $dmHenderson),
		('Wheeler', $dmWheeler),
		('Havens', $dmHavens),
		('Harrington', $dmHarrington),
		('Holland', $dmHolland),
    ('Hawkins', $dmHawkins),
    ('Hargrove', $dmHargrove),
	{
  .guide_swatch#{$name} {
    .guide_swatch_block   { background-color: $color; }
    &:after               { content: "#{$color}"; }
  }
}

.guide_swatch {
  display: block;
  font-size: 13px;
  line-height: 13px;
  color: #333;
  &:after {
    @extend .guide_swatch_meta;
  }
  &_block {
    height: 80px;
    width: 100%;
    min-height: 80px;
    display: block;
    margin-bottom: 7px;
    @media screen and (min-width:690px) {
      height: 0;
      width: 100%;
      padding-bottom: 33%;
    }
  }
  &_meta {
    display: block;
    margin-top: 7px;
  }
}
