{% set title = 'Heroes' %}
{% extends 'layouts/guide.html' %}

{% import 'components/heroes/heroes.html' as hero %}

{% macro preFormat(x) %}
<pre><code class="language-html">{% filter trim %}{{ x }}{% endfilter %}</code></pre>
{% endmacro %}

{% block script %}
{% endblock %}

{% block content %}
<section class="guidesection guidesectionFull">
  <h1 class="guide_h1">{{ title }} default</h1>
  {{ hero.default() }}
  <!-- Add preFormat blocks to show markup -->
  {{ preFormat(
    hero.default()
  ) }}
</section>
{% endblock %}
