<!doctype html>
<html lang="en-GB" class="no-js">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  {% include 'layouts/scaffold/head.html' %}
</head>

<body>
	<div class="ui__container" id="uicontainer">
		{% block header %}
			{% include 'layouts/components/headers/default.html' %}
		{% endblock %}
		<div class="ui__canvas">
			{% block precontent %}
			{% endblock %}
			{% block content %}
			{% endblock %}
			{% block postcontent %}
			{% endblock %}
		</div>
		{% block footer %}
			{% include 'layouts/components/footers/default.html' %}
		{% endblock %}
	</div>
</body>

<script></script>
{% block script %}
{% endblock %}
</html>
