html {
  font-size: $scaleRoot + px;
  @media (max-width: $vpDeviceSafe) {
    -webkit-text-size-adjust: 100%;
  }
}

// Defaults
body {
  @extend %typebaseRoot;
  color: $cText;
  font-family: $fontDefault;
  font-size: rem($typeDefault);
  overflow-x: hidden;
}

a,
.fauxlink {
  text-decoration: underline;
  cursor: pointer;
  color: $cAction;
  @include link-active-styles {
    text-decoration-color: darken($cAction, 35%);
  }
}

// Overide iOS telephone styling on links
a[href^="tel"] {
  color: inherit;
  text-decoration: none;
}

// Further sensible resets
strong, b {
  font-weight: $fontBold;
	@include sharp-text;
}

input, textarea, select, button {
  font-family: $fontDefault;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: $fontBold;
  color: $cHeading;
}

ol, ul {
  ol, ul {
    padding-left: rem(20);
  }
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}
