html {
  font-size: $scaleRoot + px;
  @media (max-width: $vpDeviceSafe) {
    -webkit-text-size-adjust: 100%;
  }
}

body {
  color: $cText;
  font-family: $fontDefault;
  line-height: $lineheightBase;
  overflow-x: hidden;
}

a,
.fauxlink {
  text-decoration: underline;
  cursor: pointer;
  color: $cAction;
  @include link-active-styles {
    text-decoration-color: darken($cAction, 35%);
  }
}

// Overide iOS telephone styling on links
a[href^="tel"] {
  color: inherit;
  text-decoration: none;
}

// Further sensible resets
strong, b {
  font-weight: $fontBold;
	@include sharp-text;
}

input, textarea, select, button {
  font-family: $fontDefault;
}
