
// Heading styles
// ------------------------------------------------------------------

%heading {
	@include sharp-text;
	display: block;
	font-weight: $fontBold;
	color: $cHeading;
}

// Default text
// ------------------------------------------------------------------

%text {
	font-weight: $fontNormal;
	color: $cText;
}


// Examples
// ------------------------------------------------------------------

.heading-eg {
	@extend %heading;
	@include font-size($typeXXL, 'tighten', 1);
	@include baseline(1, 'margin-bottom');
}

.text-eg {
	@extend %text;
	@include font-size($typeDefault);
	@include baseline(2, 'margin-bottom');
}

.list-eg {
	@extend %text;
	@include font-size($typeDefault);
	@include baseline(2, 'margin-bottom');
	ul, ol {
		@include baseline(1, 'margin-top');
	}
	li {
		@include baseline(1, 'margin-bottom');
	}
}
