
// Root base
// ------------------------------------------------------------------

%typebaseRoot {
	line-height: $lineheightBase;
	margin-bottom: 0;
	margin-top: 0;
}

// Heading styles
// ------------------------------------------------------------------

.heading {
	display: block;
	font-weight: $fontBold;
	color: $cHeading;
}

// Default text
// ------------------------------------------------------------------

.text {
	@extend %typebaseRoot;
	@include sharp-text;
	font-size: rem($typeDefault);
}

// Default lists
// ------------------------------------------------------------------

%textList {
	li {
		@extend .text;
	}
}

.unorderedlist {
	list-style-type: disc;
	@extend %textList;
	ul {
		list-style-type: disc;
		padding-left: rem(20);
	}
}

.orderedlist {
	list-style-type: decimal;
	@extend %textList;
	ol {
		list-style-type: decimal;
		padding-left: rem(20);
	}
}

.simplelist {
	list-style-type: none;
	@extend %textList;
	ol,ul {
		list-style-type: none;
		padding-left: rem(20);
	}
}

// Typebase (for runs of text)
// ------------------------------------------------------------------

.hideEmpty {
	// Stop empty spacing
	br + br,
	h1:empty,
	h2:empty,
	h3:empty,
	h4:empty,
	h5:empty,
	h6:empty,
	p:empty,
	ul:empty,
	ol:empty,
	span:empty,
	cite:empty,
	div:empty {
		display: none;
	}
}
