{% set title = 'Grid' %}
{% extends 'layouts/guide.html' %}

{% block content %}
<section class="guidesection">
  <h1 class="guide_h1">{{ title }} examples</h1>
  <h2 class="guide_h2">6 col + standard gap</h2>
  <div class="gridexample1">
    <div class="g1"></div>
    <div class="g2"></div>
    <div class="g3"></div>
    <div class="g4"></div>
    <div class="g5"></div>
  </div>
  <h2 class="guide_h2">6 col + wider gap + standard row space</h2>
  <div class="gridexample2">
    <div class="g1"></div>
    <div class="g2"></div>
    <div class="g3"></div>
    <div class="g4"></div>
    <div class="g5"></div>
  </div>
  <h2 class="guide_h2">4 col + standard gap + different row alignment</h2>
  <div class="gridexample3">
    <div class="g1"></div>
    <div class="g2"></div>
  </div>
  <h2 class="guide_h2">3 col + standard gap repeating</h2>
  <div class="gridexample4">
    <div class="g1"></div>
    <div class="g2"></div>
    <div class="g3"></div>
    <div class="g1"></div>
    <div class="g2"></div>
    <div class="g3"></div>
  </div>
</section>
{% endblock %}
