{% set title = 'Typography' %}
{% extends 'layouts/guide.html' %}

{% block content %}
<section class="guidesection">
  <h1 class="guide_h1">Quick example</h1>
  <div class="guidesection__meter">
    <h1 class="heading-eg">Heading example.</h1>
    <p class="text-eg">Body text example. You can have properly indented paragraphs within list items. Notice the blank line above, and the leading spaces (at least one, but we'll use three here to also align the raw Markdown).</p>
    <p class="text-eg">You can have properly indented paragraphs within list items. Notice the blank line above, and the leading spaces (at least one, but we'll use three here to also align the raw Markdown).</p>
    <ul class="list-eg">
      <li>Unordered: Clean render</li>
      <li>Unordered: Clean render</li>
      <li>Unordered: Clean render
        <ul>
          <li>Unordered: Clean render</li>
          <li>Unordered: Clean render</li>
        </ul>
      </li>
    </ul>
    <ol class="list-eg">
      <li>Ordered: Clean render</li>
      <li>Ordered: Clean render
        <ol>
          <li>Ordered: Clean render</li>
          <li>Ordered: Clean render</li>
        </ol>
      </li>
    </ol>
  </div>
</section>

<section class="guidesection">
  <h1 class="guide_h1">HTML defaults</h1>
  <div class="guidesection__meter">
    <h1>H1: Clean render</h1>
    <h2>H2: Clean render</h2>
    <h3>H3: Clean render</h3>
    <h4>H4: Clean render</h4>
    <h5>H5: Clean render</h5>
    <h6>H6: Clean render</h6>
    <p class="text">You can have properly indented paragraphs within list items. Notice the blank line above, and the leading spaces (at least one, but we'll use three here to also align the raw Markdown).</p>
    <p>You can have properly indented paragraphs within list items. Notice the blank line above, and the leading spaces (at least one, but we'll use three here to also align the raw Markdown).</p>
    <ul>
      <li>Unordered: Clean render</li>
      <li>Unordered: Clean render</li>
      <li>Unordered: Clean render
        <ul>
          <li>Unordered: Clean render</li>
          <li>Unordered: Clean render</li>
        </ul>
      </li>
    </ul>
    <ol>
      <li>Ordered: Clean render</li>
      <li>Ordered: Clean render
        <ol>
          <li>Ordered: Clean render</li>
          <li>Ordered: Clean render</li>
        </ol>
      </li>
    </ol>
  </div>
</section>
{% endblock %}
