// Button defaults
// ------------------------------------------------------------------

// Button base style
%button {
  color: $cLabel;
  padding: 0 rem($btnPadding);
  border-radius: rem($btnRadius);
  cursor: pointer;
  position: relative;
  vertical-align: middle;
  text-decoration: none;
  display: inline-block;
  background-image: none;
  text-align: center;
  span {
    font-size: inherit;
    font-weight: inherit;
  }
  &:focus {
    outline: none;
  }
}


// Sizes
// ------------------------------------------------------------------

.button,
a.button,
button.button {
  @extend %button;
  font-size: rem($typeBtn);
  line-height: rem($btnDefault);
  background-color: $cButtonPrimary;
  @include link-active-styles {
    text-decoration: none;
  }

  // Types
  // ------------------------------------
  &Primary {
    background-color: $cButtonPrimary;
  }

  &Icon {
    padding-right: rem($btnPadding*3);
    text-align: left;
    svg {
      position: absolute;
      top: 50%;
      right: rem($btnPadding/1.25);
      transform: translateY(-50%);
      height: 16px;
      width: 16px;
      display: block;
    }
  }
}
