// Button defaults
// ------------------------------------------------------------------

// Button base style
%button {
  cursor: pointer;
  font-weight: $fontSemiBold;
  position: relative;
  padding: 0 $btnPadding;
  vertical-align: middle;
  text-align: left;
  color: $cLabel;
  text-decoration: none;
  display: inline-block;
  border-radius: $btnRadius;
  background-image: none;
  text-align: center;
  border: 1px solid transparent;
  span {
    font-size: inherit;
    font-weight: inherit;
  }
  &:focus {
    outline: none;
  }
}

// Sizes
// ------------------------------------------------------------------

.button,
a.button,
button.button {
  @extend %button;
  font-size: rem($typeS);
  line-height: $btnDefault;
  background-color: $cButtonPrimary;
  border-color: darken($cButtonPrimary, 5%);
  &:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 3px;
    border-color: darken($cButtonPrimary, 5%);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: $btnRadius*2;
    opacity: 0;
  }
  @include link-active-styles {
    text-decoration: none;
  }

  // Sizes
  &Small {
    font-size: rem($typeS);
    line-height: $btnSmall;
    padding: 0 $btnPaddingSmall;
  }

  // Types
  &Primary {
    color: #fff;
    @include link-active-styles {
      color: #fff;
    }
  }

  &Secondary {
    background-color: #fff;
    border-color: $cBorder;
    &:before {
      animation-duration: 3.5s;
    }
    @include link-active-styles {
      background-color: $cButtonSecondary;
      &:before {
        border-color: $cBorder;;
      }
    }
  }

  &Icon {
    padding-right: $btnPadding*3;
    text-align: left;
    svg {
      position: absolute;
      top: 50%;
      right: $btnPadding/1.25;
      transform: translateY(-50%);
      transition-duration: 0.3s;
      transition-property: transform;
      transition-timing-function: ease-out;
      transform-origin: top;
      height: 16px;
      width: 16px;
      display: block;
    }
    @include link-active-styles {
    }
    &.buttonPrimary {
      svg  {
        fill: #fff;
      }
    }
  }

  &Disabled {
    cursor: not-allowed;
    opacity: 0.3;
    filter: grayscale(100%);
    &:focus {
      outline: none;
      text-decoration: none;
    }
    @include link-active-styles {
      text-decoration: none;
    }
  }
  &Block {
    display: block;
  }
}
