// Button defaults
// ------------------------------------------------------------------

// Button base style
%button {
  color: $cLabel;
  padding: 0 $btnPadding;
  border-radius: $btnRadius;
  cursor: pointer;
  position: relative;
  vertical-align: middle;
  text-decoration: none;
  display: inline-block;
  background-image: none;
  text-align: center;
  span {
    font-size: inherit;
    font-weight: inherit;
  }
  &:focus {
    outline: none;
  }
}

// Sizes
// ------------------------------------------------------------------

.button,
a.button,
button.button {
  @extend %button;
  font-size: rem($typeS);
  line-height: $btnDefault;
  background-color: $cButtonPrimary;
  @include link-active-styles {
    text-decoration: none;
    background-color: $cActionRespond;
  }

  // Sizes
  // ------------------------------------
  &Small {
    font-size: rem($typeS);
    line-height: $btnSmall;
    padding: 0 $btnPaddingSmall;
  }

  // Types
  // ------------------------------------
  &Primary {
    color: $cSizemore;
    @include link-active-styles {
      color: $cSizemore;
    }
  }

  &Icon {
    padding-right: $btnPadding*3;
    text-align: left;
    svg {
      position: absolute;
      top: 50%;
      right: $btnPadding/1.25;
      transform: translateY(-50%);
      height: 16px;
      width: 16px;
      display: block;
    }
    &.buttonPrimary {
      svg  {
        fill: $cSizemore;
      }
    }
  }
}
