
// General
// ------------------------------------------------------------------

%errorState {
  .form-elementError & {
    border-color: $cError;
  }
}

form {
  position: relative;
}

fieldset {
  border: none;
  padding: 0.01em 0 0 0;
  + fieldset {
    margin-top: $formVSpace;
  }
}

legend {
  font-size: rem($typeLegend);
  color: $cHeading;
  display: block;
  margin-bottom: 0.5em;
}

label {
  font-size: rem($typeLabel);
  color: $cLabel;
  display: block;
  .form-elementError & {
    color: $cError;
  }
}

input[type] {
  @extend %errorState;
}

input[type="color"],
input[type="date"],
input[type="email"],
input[type="file"],
input[type="image"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="range"],
input[type="reset"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="week"] {
  border: $strokeWidth solid $cBorder;
  height: $formItem;
  font-size: $formInputText;
  border-radius: $formRadius;
  padding: 0 $formPadding;
	display: block;
	appearance: none;
  width: 100%;
  outline: none;
  // Turn off spinners for number input field
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
  	appearance: none;
  }
  &:focus {
    border-color: $cFocus;
    outline: none;
  }
}

// Min height to text area
textarea {
  font-size: $formInputText;
  padding: $formPadding;
  display: block;
  width: 100%;
  border: $strokeWidth solid $cBorder;
  @extend %errorState;
  outline: none;
  &:focus {
    border-color: $cFocus;
    outline: none;
  }
}

select {
  font-size: $formInputText;
  height: $formItem;
  border: $strokeWidth solid $cBorder;
  border-radius: $formRadius;
  padding: 0 $formPadding;
  width: 100%;
  display: block;
  vertical-align: middle;
  appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'><path fill='%23444' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>");
  background-position: 99.5% 50%;
  background-repeat: no-repeat;
  outline: none;
  &:hover, &:active {
    cursor: pointer;
  }
  &:focus {
    border-color: $cFocus;
    outline: none;
  }
  @extend %errorState;
}

// Form element styles
// ------------------------------------------------------------------

.form-element {
  position: relative;
  &__notes {
    display: none;
    position: relative;
    .form-elementError & {
      display: block;
      padding: 0.5em 1em;
      background-color: $cFormNotes;
      border: $strokeWidth solid darken($cFormNotes, 20%);
      border-top: 0;
    }
    .form-elementHint & {
      display: block;
      padding-top: 0.5em;
    }
  }
  &__hint,
  &__error-message {
    color: $cText;
    font-size: rem($typeLabel);
    clear: left;
    display: block
  }
  &__error-message {
    color: $cError;
  }
  &RadioCheckbox {
    height: 100%;
    label {
      position: relative;
      vertical-align: middle;
      padding: 0.5em 0; // Give the field a bigger hit area for fat-fingers
      cursor: pointer;
    }
    input {
      margin-right: 1.2rem;
      vertical-align: middle;
      &:focus {
        outline-color: $cFocus;
      }
    }
    input[type="radio"],
    input[type="checkbox"] {
      width: 2rem;
      height: 2rem;
      position: relative;
    }
  }
}

// Form field spacer blocks
// ------------------------------------------------------------------

.formfield {
	position: relative;
	@include pie-clearfix;
  &Spaced {
    padding-top: $formVSpace;
  }
  &Error {
    input {
      border-color: $cError;
      &:focus {
        border-color: $cError;
      }
    }
    label {
      color: $cError;
    }
  }
}
