{% set title = 'Abernathy' %}
{% extends 'layouts/guide.html' %}

{% block content %}
<section class="guidesection">
  <h1 class="guide_h1">Style guide</h1>
  <ul class="guide_index_list">
    <li><a href="guide/color/">Color</a></li>
    <li><a href="guide/grid/">Grid</a></li>
    <li><a href="guide/typography/">Typography defaults</a>
    <li><a href="/assets/icons/renders/sprite.symbol.html">Icon sprite</a></li>
  </ul>
</section>
<section class="guidesection">
  <h1 class="guide_h1">Components</h1>
  <ul class="guide_index_list">
    <li><a href="components/buttons/">Buttons</a></li>
    <li><a href="components/forms/">Forms</a></li>
  </ul>
</section>
{% endblock %}
