{% set title = 'Abernathy' %}
{% extends 'layouts/guide.html' %}

{% block content %}
<section class="guidesection">
	<div class="guidesection__instructions">
		<h1 class="guide_h1">Abernathy: Pattern library &amp; flat-site building blocks</h1>
		<p>Abernathy is a place to start product and web builds. Built with atomic component based systems in mind, she renders to standard html templates, so you can build in a modular fashion &ndash; then render the old fashioned way.</p>
		<p>Abernathy uses the <a href="https://mozilla.github.io/nunjucks/">Nunjucks</a> templating language to harness the power of includes, macros and loops to aid in building dynamic design systems.</p>
		<p>Checkout the <a href="https://github.com/petercolesdc/abernathy">README</a> for help on how to get started.</p>
	</div>
</section>
{% endblock %}
