<!doctype html>
<html lang="en" class="no-js">
{% include 'layouts/scaffold/head.html' %}
<body>
	<a href="#bodycontent">Skiplink</a>
	<div id="uicontainer">
		{% block header %}
			{% include 'components/headers/default.html' %}
		{% endblock %}
		<div id="bodycontent">
			{% block precontent %}
			{% endblock %}
			{% block content %}
			{% endblock %}
			{% block postcontent %}
			{% endblock %}
		</div>
		{% block footer %}
			{% include 'components/footers/default.html' %}
		{% endblock %}
	</div>
</body>
<script src="/js/global.js"></script>
{% block script %}
{% endblock %}
</html>
