{% set layout = 'guide' %}
<!doctype html>
<html lang="en" class="no-js">
{% include 'layouts/scaffold/head.html' %}
{% block head %}
<link rel="stylesheet" href="/css/guide.css">
{% endblock %}
<body class="guide_body">
	<aside class="guide_menu">
		<div>
			<h1 class="guide_menu_heading"><a href="/">Home</a></h1>
			<h3 class="guide_menu_heading">Components</h3>
			<ul class="guide_menu_list">
				<li><a href="/components/buttons/">Buttons</a></li>
				<li><a href="/components/forms/">Forms</a></li>
			</ul>
			<h3 class="guide_menu_heading">Style guide</h3>
			<ul class="guide_menu_list">
				<li><a href="/guide/color/">Color</a></li>
				<li><a href="/guide/typography/">Typography</a>
				<li><a href="/guide/shadow/">Shadow</a>
				<li><a href="/assets/icons/renders/sprite.symbol.html">Icon sprite</a></li>
			</ul>
			<h3 class="guide_menu_heading">Templates</h3>
			<ul class="guide_menu_list">
				<li>Add here</li>
			</ul>
			<h3 class="guide_menu_heading">Pages</h3>
			<ul class="guide_menu_list">
				<li>Add here</li>
			</ul>
		</div>
	</aside>
	<main class="guide_content">
	{% block content %}{% endblock %}
	</main>
</body>
<script src="/js/global.js"></script>
{% block script %}{% endblock %}
</html>
