{% set title = 'Forms' %}
{% extends 'layouts/guide.html' %}

{% import 'components/forms/default.html' as input %}
{% import 'components/forms/default.html' as textarea %}
{% import 'components/forms/default.html' as select %}
{% import 'components/forms/default.html' as radiocheckbox %}

{% block content %}
<section class="guidesection">
  <h1 class="guide_h1">Inputs</h1>
  <form>
    <fieldset>
      <div class="formfield">
        {{ input.input
			  	( 
			  		label='Standard text', 
			  		name='text-field1',
			  		type='text',
			  		value='',
			  		hint='',
			  		placeholder='',
			  		autocomplete='',
			  		error_message='',
			  		required= false
			  	) 
			  }}
      </div>
      <div class="formfield formfieldSpaced">
         {{ input.input
				  	( 
				  		label='Email with required set', 
				  		name='email-field1',
				  		type='email',
				  		value='',
				  		hint='',
				  		placeholder='',
				  		autocomplete='email',
				  		error_message='',
				  		required= true
				  	) 
				  }}
      </div>
       <div class="formfield formfieldSpaced">
         {{ input.input
				  	( 
				  		label='Telephone with required set + hint', 
				  		name='tel-field1',
				  		type='tel',
				  		value='',
				  		hint='Enter in any format',
				  		placeholder='',
				  		autocomplete='tel',
				  		error_message="",
				  		required= true
				  	) 
				  }}
      </div>
      <div class="formfield formfieldSpaced">
         {{ input.input
				  	( 
				  		label='Password with required set + hint', 
				  		name='password-field1',
				  		type='password',
				  		value='',
				  		hint='Use a strong password including numbers and letters',
				  		placeholder='',
				  		autocomplete='email',
				  		error_message="Your password doesn't match",
				  		required= true
				  	) 
				  }}
      </div>
    </fieldset>
  </form>
</section>

<section class="guidesection">
  <h1 class="guide_h1">Selects</h1>
   <form>
    <fieldset>
      <div class="formfield">
        {{ input.select
			  	( 
			  		label='Standard select', 
			  		name='select-1',
			  		options='
			  			<option value="1">Amsterdam</option>
			  			<option value="2">Buenos Aires</option>
							<option value="3">Delhi</option>
							<option value="4">Hong Kong</option>
			  		',
			  		hint='',
			  		error_message='',
			  		required= false
			  	) 
			  }}
      </div>
      <div class="formfield formfieldSpaced">
        {{ input.select
			  	( 
			  		label='Standard select + required + hint', 
			  		name='select-2',
			  		options='
			  			<option value="1">Amsterdam</option>
			  			<option value="2">Buenos Aires</option>
							<option value="3">Delhi</option>
							<option value="4">Hong Kong</option>
			  		',
			  		hint='Choose the closest location to you',
			  		error_message='',
			  		required= true
			  	) 
			  }}
      </div>
      <div class="formfield formfieldSpaced">
        {{ input.select
			  	( 
			  		label='Standard select + required + error', 
			  		name='select-3',
			  		options='
			  			<option value="1">Amsterdam</option>
			  			<option value="2">Buenos Aires</option>
							<option value="3">Delhi</option>
							<option value="4">Hong Kong</option>
			  		',
			  		hint='',
			  		error_message='You must select a city',
			  		required= true
			  	) 
			  }}
      </div>
     </fieldset>
  </form>
</section>

<section class="guidesection">
  <h1 class="guide_h1">Radio</h1>
  <h2 class="guide_h3">Note that radio and checkboxes require error checking at group level, not element level</h2>
  <form>
    <fieldset>
      <div class="formfield">
        {{ input.radiocheckbox
				  	( 
				  		label='Radio standard', 
				  		name='radio-1',
				  		type='radio',
				  		value='value1',
				  		checked= true,
				  		required= true
				  	) 
				  }}
				  {{ input.radiocheckbox
				  	( 
				  		label='Radio standard unchecked', 
				  		name='radio-2',
				  		type='radio',
				  		value='value2',
				  		checked= false,
				  		required= false
				  	) 
				  }}
      </div>
     </fieldset>
  </form>
</section>

<section class="guidesection">
  <h1 class="guide_h1">Checkbox</h1>
  <h3 class="guide_h3">Note that radio and checkboxes require error checking at group level, not element level</h3>
  <form>
    <fieldset>
      <div class="formfield">
        {{ input.radiocheckbox
				  	( 
				  		label='Check standard', 
				  		name='check-1',
				  		type='checkbox',
				  		value='value1',
				  		checked= true,
				  		required= true
				  	) 
				  }}
				  {{ input.radiocheckbox
				  	( 
				  		label='Check standard unchecked', 
				  		name='check-2',
				  		type='checkbox',
				  		value='value2',
				  		checked= false,
				  		required= false
				  	) 
				  }}
      </div>
     </fieldset>
  </form>
</section>

<section class="guidesection">
  <h1 class="guide_h1">Text area</h1>
  <form>
    <fieldset>
      <div class="formfield">
        {{ input.textarea
			  	( 
			  		label='Text area + required', 
			  		name='text-area1',
			  		value='',
			  		hint='',
			  		placeholder='',
			  		error_message='',
			  		required= true
			  	) 
			  }}
      </div>
      <div class="formfield formfieldSpaced">
        {{ input.textarea
			  	( 
			  		label='Text area + required + error', 
			  		name='text-area2',
			  		value='',
			  		hint='',
			  		placeholder='',
			  		error_message='You need to enter a message',
			  		required= true
			  	) 
			  }}
      </div>
     </fieldset>
  </form>
</section>
{% endblock %}
