{% set title = 'Example' %}
{% extends 'layouts/guide.html' %}

{% import 'components/_template/component.html' as test %}


{% macro preFormat(x) %}
<pre><code class="language-html">{% filter trim %}{{ x }}{% endfilter %}</code></pre>
{% endmacro %}

{% block script %}
{% endblock %}

{% block content %}
<section class="guidesection">
  <h1 class="guide_h1">{{ title }}</h1>
  {{ test.example(headingtext='Hello World') }}
  <!-- Add preFormat blocks to show markup -->
  {{ preFormat(
	  test.example(headingtext='Hello World')
  ) }}
</section>
{% endblock %}