{% set title = 'Buttons' %}
{% extends 'layouts/guide.html' %}

{% import 'components/buttons/button.html' as btn %}

{% macro preFormat(x) %}
<pre><code class="language-html">{% filter trim %}{{ x }}{% endfilter %}</code></pre>
{% endmacro %}

{% block script %}
{% endblock %}

{% block content %}
<section class="guidesection">
  <h1 class="guide_h1">{{ title }} default</h1>
  {{ btn.button(classname='button buttonPrimary', text='Default') }}
  {{ btn.buttonIcon(classname='button buttonPrimary buttonIcon', text='Icon', ico='plus') }}
  <!-- Add preFormat blocks to show markup -->
  {{ preFormat(
    btn.button(classname='button buttonPrimary', text='Default') 
  ) }}
  {{ preFormat(
    btn.buttonIcon(classname='button buttonPrimary buttonIcon', text='Icon', ico='plus')
  ) }}
</section>

<section class="guidesection">
  <h1 class="guide_h1">{{ title }} submit</h1>
  {{ btn.button(classname='button buttonPrimary', text='Default', type='submit') }}
  {{ btn.buttonIcon(classname='button buttonPrimary buttonIcon', text='Icon', ico='plus', type='submit') }}
  <!-- Add preFormat blocks to show markup -->
  {{ preFormat(
    btn.button(classname='button buttonPrimary', text='Default', type='submit')
  ) }}
  {{ preFormat(
    btn.buttonIcon(classname='button buttonPrimary buttonIcon', text='Icon', ico='plus', type='submit')
  ) }}
</section>

<section class="guidesection">
  <h1 class="guide_h1">{{ title }} link</h1>
  {{ btn.button(classname='button buttonPrimary', text='Default', type='anchor', url="#") }}
  {{ btn.buttonIcon(classname='button buttonPrimary buttonIcon', text='Icon', ico='plus', type='anchor', url="#") }}
  <!-- Add preFormat blocks to show markup -->
  {{ preFormat(
    btn.button(classname='button buttonPrimary', text='Default', type='anchor', url="#")
  ) }}
  {{ preFormat(
    btn.buttonIcon(classname='button buttonPrimary buttonIcon', text='Icon', ico='plus', type='anchor', url="#")
  ) }}
</section>
{% endblock %}
