{% set title = 'Buttons' %}
{% extends 'layouts/guide.html' %}

{% import 'components/buttons/button.html' as btn %}

{% block content %}
<div class="guidesection">
  <h1 class="guide_h1">{{ title }} default</h1>
  {{ btn.button(classname='button buttonPrimary', text='Default') }}
  {{ btn.buttonIcon(classname='button buttonPrimary buttonIcon', text='Icon', ico='plus') }}
</div>

<div class="guidesection">
  <h1 class="guide_h1">{{ title }} submit</h1>
  {{ btn.button(classname='button buttonPrimary', text='Default', type='submit') }}
  {{ btn.buttonIcon(classname='button buttonPrimary buttonIcon', text='Icon', ico='plus', type='submit') }}
</div>

<div class="guidesection">
  <h1 class="guide_h1">{{ title }} link</h1>
  {{ btn.button(classname='button buttonPrimary', text='Default', type='anchor') }}
  {{ btn.buttonIcon(classname='button buttonPrimary buttonIcon', text='Icon', ico='plus', type='anchor') }}
</div>
{% endblock %}
