{% set title = 'Buttons' %}
{% extends 'layouts/guide.html' %}

{% block content %}
<div class="guidesection">
  <h1 class="guide_h1">{{ title }} default</h1>
  <a href="" class="button buttonPrimary">Default</a>
  <a href="" class="button buttonSecondary">Secondary</a>
  <a href="" class="button buttonDisabled">Disabled</a>
  <a href="" class="button buttonPrimary buttonIcon"><svg class="icon_plus_svg"><use xlink:href="/assets/icons/renders/sprite.svg#plus"></use></svg>Icon.</a>
</div>
<div class="guidesection">
  <h1 class="guide_h1">{{ title }} small</h1>
  <a href="" class="button buttonSmall buttonPrimary">Default</a>
  <a href="" class="button buttonSmall buttonSecondary">Secondary</a>
  <a href="" class="button buttonSmall buttonDisabled">Disabled</a>
  <a href="" class="button buttonSmall buttonPrimary buttonIcon"><svg class="icon_plus_svg"><use xlink:href="/assets/icons/renders/sprite.svg#plus"></use></svg>Icon.</a>
</div>
{% endblock %}
