
// Brand colours
// ------------------------------------------------------------------

// Core colours
$cAbernathy: #b3025e!default;
$cLowe: #37557D!default;
$cFord: #22bf6c!default;
$cDelos: #2256bf!default;

// Greyscales
$cStubbs: #242326!default;
$cFlood: #595859!default;
$cWeber: #f2f2f2!default;
$cSizemore: #ffffff!default;


// Make a map for easy assignment loops + swatches
// These must match the colors
$colors: (
  Abernathy: $cAbernathy,
  Lowe: $cLowe,
  Ford: $cFord,
  Delos: $cDelos,
  Stubbs: $cStubbs,
  Flood: $cFlood,
  Weber: $cWeber,
  Sizemore: $cSizemore
);


// Non-brand feedbacks
// ------------------------------------------------------------------
$cError: #B10E1E;
$cSuccess: #00823B;
$cAlert: #FFBF47;


// Assign colours to declarative variables
// ------------------------------------------------------------------

// Actions
$cAction: $cAbernathy;
$cActionRespond: $cLowe;

// Buttons
$cButtonPrimary: $cStubbs;

// Default text colors
$cHeading: $cStubbs;
$cLabel: $cStubbs;
$cText: $cFlood;

// Form colors
$cFormNotes: $cWeber;
$cFocus: $cDelos;

// Misc. color assignments
$cBorder: $cFlood;
