
// Measurements are unitless (with the exception of gridUnit).
// This aids in the conversion of px to rem units
// Use the rem(#); function to define in rem units
// E.g rem($btnDefault);

// Baseline
// ------------------------------------------------------------------
$baseline: 8; // Set baseline for the design


// Grid defaults
// ------------------------------------------------------------------
$gridUnit: 1fr;
$gridCols: 6; // Default
$gridColGap: 20; // Default
$gridRowGap: $baseline*3; // Default


// Buttons
// ------------------------------------------------------------------
$btnDefault: 35;
$btnRadius: 3;
$btnPadding: 16;


// Forms
// ------------------------------------------------------------------
$formRadius: 0;
$formItem: 44;
$formPadding: 10;
$formVSpace: 32;


// Misc
// ------------------------------------------------------------------
$strokeWidth: rem(1);
