
@import 'viewports.scss';

// General spacing options
// ------------------------------------------------------------------

$bufferSpaceS: 20px;


// Ratios
// ------------------------------------------------------------------

$ratioWidescreen: 56.25%;


// Buttons
// ------------------------------------------------------------------

$btnSmall:    30px;
$btnDefault:  35px;
$btnRadius:   3px;
$btnPadding:  15px;
$btnPaddingSmall: $btnPadding/1.25;


// Forms
// ------------------------------------------------------------------

$formRadius: 0;
$formItem: 40px;
$formInputText: 15px;
$formPadding: 10px;


// Misc
// ------------------------------------------------------------------
$strokeWidth: 1px;
