@import 'measurements.scss';

// Set defaults
// ------------------------------------------------------------------

$scaleRoot: 			16;
$lineheightRoot: 		$baseline/2; // Text grid unit default (e.g 4 = 4px baseline)
$lineheightMulti:   	4; // Multiplier default (e.g how many multiples to create the default spacing in line-height)
$lineheightBase: 		($lineheightRoot*$lineheightMulti) / 10;

// Type scale
// ------------------------------------------------------------------

$typeXXL: 					48;
$typeXL: 					34;
$typeL: 					24;
$typeM:						20;
$typeMe:					16;		// Me = 'median'. Generally the standard font size for the page
$typeS: 					14;
$typeXS: 					12;
$typeXXS: 					10;

// Declaratives
// ------------------------------------------------------------------

$typeDefault: 		$typeMe;
$typeLabel: 		$typeMe;
$typeLegend: 		$typeL;
$typeBtn:           $typeS;
$typeForm:          $typeMe;
